services:
  nginx:
    image: nginx:stable
    ports:
      - "8080:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - backend
      - frontend
    networks:
      - app_net

  backend:
    image: ${BACKEND_IMAGE}:${TAG}
    expose:
      - "8000"
    networks:
      - app_net

  frontend:
    image: ${FRONTEND_IMAGE}:${TAG}
    expose:
      - "80"
    networks:
      - app_net

networks:
  app_net:
    driver: bridge
