services:
  nginx:
    image: nginx:stable
    ports:
      - "8080:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - backend
      - frontend

  backend:
    image: ghcr.io/kencopas/portfolio-backend:${TAG}
    expose:
      - "8000"

  frontend:
    image: ghcr.io/kencopas/portfolio-frontend:${TAG}
    expose:
      - "80"
