services:
  nginx:
    image: nginx:stable
    ports:
      - "8080:80"
    depends_on:
      - backend
      - frontend

  backend:
    image: ghcr.io/kencopas/backend:latest
    expose:
      - "8000"

  frontend:
    image: ghcr.io/kencopas/frontend:latest
    expose:
      - "3000"