services:
  web:
    build: ../services/web
    container_name: web
    expose:
      - "80"
    networks:
      - internal
  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "127.0.0.1:8080:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - internal

networks:
  internal:
    driver: bridge