name: portfolioapp

services:
  nginx:
    image: ${NGINX_IMAGE}:${TAG}
    ports:
      - "8080:80"
    depends_on:
      - backend
      - frontend
    networks:
      - app_net

  backend:
    image: ${BACKEND_IMAGE}:${TAG}
    expose:
      - "8000"
    networks:
      - app_net
  
  frontend:
    image: ${FRONTEND_IMAGE}:${TAG}
    container_name: frontend
    restart: unless-stopped
    expose:
      - "3000"
    networks:
      - app_net

networks:
  app_net:
    driver: bridge
